<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Available Trips</title>
    <link rel="stylesheet" href="tripList.css">
    <style>
        .search-box {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<h1>Available Trips</h1>

<div>
    <input type="text" class="search-box" id="origin-box" placeholder="Origin">
    <input type="text" class="search-box" id="destination-box" placeholder="Destination">
    <input type="date" class="search-box" id="departure-date" placeholder="Date of Departure">
    <button onclick="filterTrips()">Search</button>
</div>

<table border="1" id="trip-table">
    <thead>
    <tr>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Price</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Available Seats</th>
        <th>Bus Number</th>
        <th>Trip Type</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trip : ${trips}">
        <td th:text="${#temporals.format(trip.departureTime, 'yyyy-MM-dd HH:mm')}">Departure Time</td>
        <td th:text="${#temporals.format(trip.arrivalTime, 'yyyy-MM-dd HH:mm')}">Arrival Time</td>
        <td th:text="${trip.price}">Price</td>
        <td th:text="${trip.origin}">Origin</td>
        <td th:text="${trip.destination}">Destination</td>
        <td th:text="${trip.availableSeats}">Available Seats</td>
        <td th:text="${trip.bus_number}">Bus Number</td>
        <td th:text="${trip.trip_type}">Trip Type</td>
        <td>
            <a th:href="@{/trips/trip/{tripId}(tripId=${trip.id})}">Details</a>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function filterTrips() {
        var originInput, destinationInput, departureDateInput, origin, destination, departureDate, table, tr, i;
        originInput = document.getElementById("origin-box");
        destinationInput = document.getElementById("destination-box");
        departureDateInput = document.getElementById("departure-date");
        origin = originInput.value.toUpperCase();
        destination = destinationInput.value.toUpperCase();
        departureDate = departureDateInput.value;
        table = document.getElementById("trip-table");
        trip = table.getElementsByTagName("tr");
        for (i = 0; i < trip.length; i++) {
            tdOrigin = trip[i].getElementsByTagName("td")[3];
            tdDestination = trip[i].getElementsByTagName("td")[4];
            tdDepartureDate = trip[i].getElementsByTagName("td")[0];
            if (tdOrigin && tdDestination && tdDepartureDate) {
                txtOrigin = tdOrigin.textContent || tdOrigin.innerText;
                txtDestination = tdDestination.textContent || tdDestination.innerText;
                txtDepartureDate = tdDepartureDate.textContent || tdDepartureDate.innerText;
                var datePart = txtDepartureDate.split(" ")[0];
                if ((origin === '' || txtOrigin.toUpperCase().indexOf(origin) > -1) &&
                    (destination === '' || txtDestination.toUpperCase().indexOf(destination) > -1) &&
                    (departureDate === '' || datePart === departureDate)) {
                    trip[i].style.display = "";
                } else {
                    trip[i].style.display = "none";
                }
            }
        }
    }
</script>

</body>
</html>




